<div xmlns:hive="http://typo3.org/ns/HIVE/HiveCptCntImg/ViewHelpers">
<f:layout name="Default" />

    <f:section name="main">

        <f:if condition="{bDebug}">
            <f:debug title="plugin.tx_hivecptcntimg_hivecptcntimgshowfalimage.aSettings">{aSettings}</f:debug>
        </f:if>

        <f:flashMessages />

        <f:if condition="{aSettings.falimage}">
            <f:if condition="{aSettings.useInCarousel}">
                <f:then>
                    <hive:cptCntImg uid="{aSettings.falimage}" dataAttribute='echo'/>
                </f:then>
                <f:else>
                    <hive:cptCntImg uid="{aSettings.falimage}"/>
                </f:else>
            </f:if>

        </f:if>

    </f:section>
</div>


